#secao-exp  {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secao-exp-claro {
  background-color: #f6f8fc;
  transition: all 0.5s;
}

.secao-exp-escuro {
  background-color: #393838;
  transition: all 0.5s;
}

#exp-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#exp-texto h3 {
  position: relative;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 35px;
  text-align: center;
}

#exp-texto h3::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 4px;
  background-color: #feb633;
  transition: width 0.5s ease-in-out;
}

#exp-texto h3:hover::before {
  width: 100%;
}

.texto-exp-claro h3 {
  color: #32333c;
  transition: all 0.5s;
}

.texto-exp-escuro h3 {
  color: #CCCCCC;
  transition: all 0.5s;
}

#exp-texto p {
  text-align: center;
  font-size: 22px;
  max-width: 1000px;
  margin-bottom: 50px;
}

.texto-exp-claro p {
  color: #8a8fa3;
  transition: all 0.5s;
}

.texto-exp-escuro p {
  color: #CCCCCC;
  transition: all 0.5s;
}

.secao-card{
display: flex;
justify-content: center;
}

.limitar-secao {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 768px){
  .secao-card {
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
  }
}

@@media (max-width: 370px){
  .secao-card {
  padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  #exp-texto h3::before {
    transform: translateY(100%);
  }
  
  #exp-texto h3:hover::before {
    transform: translateY(0%);
  }
}